<mat-card>
  <mat-toolbar color="primary">Detalhes do Aluno</mat-toolbar>

  <mat-dialog-content [formGroup]="form" class="w-full flex flex-col min-w-full md:min-w-0 m-auto">


    <div fxLayout="row" fxLayoutAlign="space-between center">

      <mat-form-field class="full-width">
        <input matInput placeholder="Nome do Aluno" formControlName="nome" #nome />
        <mat-hint align="end">{{ nome.value?.length || 0 }} / 100</mat-hint>
        <mat-error *ngIf="form.get('nome')?.invalid">{{
          getErrorMessage("nome")
        }}</mat-error>
      </mat-form-field>
 
   
      <mat-form-field  class="text-input">
        <input matInput placeholder="Cpf" formControlName="cpf" #cpf />
        <mat-hint align="end">{{ cpf.value?.length || 0 }} / 100</mat-hint>
        <mat-error *ngIf="form.get('cpf')?.invalid">{{
          getErrorMessage("cpf")
        }}</mat-error>
      </mat-form-field>
        

          <mat-form-field id="container">
            <input matInput placeholder="Idade" formControlName="idade" #idade />
            <mat-hint align="end">{{ idade.value?.length || 0 }} / 100</mat-hint>
            <mat-error *ngIf="form.get('idade')?.invalid">{{
              getErrorMessage("idade")
            }}</mat-error>
          </mat-form-field>

          <mat-form-field  class="text-input">
            <input matInput placeholder="Responsavel" formControlName="responsavel" #responsavel />
            <mat-hint align="end">{{ responsavel.value?.length || 0 }} / 100</mat-hint>
            <mat-error *ngIf="form.get('responsavel')?.invalid">{{
              getErrorMessage("cpf")
            }}</mat-error>
          </mat-form-field>
            
    
              <mat-form-field id="container">
                <input matInput placeholder="Contato" formControlName="contato" #contato />
                <mat-hint align="end">{{ contato.value?.length || 0 }} / 100</mat-hint>
                <mat-error *ngIf="form.get('contato')?.invalid">{{
                  getErrorMessage("idade")
                }}</mat-error>
              </mat-form-field>
      </div>

</mat-dialog-content>
  <mat-card-actions class="actions-center">
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Salvar
    </button>
    <button mat-raised-button (click)="onCancel()" class="btn-space">
      Cancelar
    </button>
    <button mat-flat-button (click)="onExport()" class="btn-space" color="primary">
      <mat-icon>save_alt</mat-icon> Imprimir
  </button>
  </mat-card-actions>

