<button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-toolbar>Acesso rapido Sistema Escolar </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <mat-divider></mat-divider>
  <a mat-list-item (click)="toggleCadastro()">Cadastro</a>
  <ng-container *ngIf="showCadastro">
    <a mat-list-item routerLink="/aluno" routerLinkActive="active">Alunos</a>
    <a mat-list-item routerLink="/courses" routerLinkActive="active">Courses</a>
    <a mat-list-item routerLink="/professores" routerLinkActive="active">Professores</a>
    <a mat-list-item routerLink="/calendar" routerLinkActive="active">Agenda</a>
    <a mat-list-item routerLink="/setor" routerLinkActive="active">Setor</a>


  </ng-container>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  