<button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-toolbar>Acesso rapido Sistema Escolar </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a mat-list-item routerLink="/aluno" routerLinkActive="active">Alunos</a>
        <a mat-list-item routerLink="/courses" routerLinkActive="active">Courses</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  <!--
N ã o   t i n h a   m e d o   o   t a l   J o ã o   d e   S a n t o   C r i s t o 
 E   r   a      o   q u e   t o d o s   d i z i a m   q u a n d o   e l e   s e   p e r d e u 
 D   e   i  x o u   p r a   t r á s   t o d o   o   m a r a s m o   d a   f a z e n d a 
 S   ó       p  r a   s e n t i r   n o   s e u   s a n g u e   o   ó d i o   q u e   J e s u s   l h e   deu
Q u a n d o   c r i a n ç a   s ó   p e n s a v a   e m   s e r   b a n d i d o 
 A   i   n   d   a   m a i s   q u a n d o   c o m   u m   t i r o   d e   s o l d a d o   o   p a i   m o rreu
E r a   o   t e r r o r   d a   s e r t a n i a   o n d e   m o r a v a 
 E       n   a       e   s c o l a   a t é   o   p r o f e s s o r   c o m   e l e   a p r e n d e u 
 I   a     p r a   i g r e j a   s ó   p r a   r o u b a r   o   d i n h e i r o 
 Q   u   e       a   s   v e l h i n h a s   c o l o c a v a m   n a   c a i x i n h a   d o   a l t a r 
 S  e n t i a   m e s m o   q u e   e r a   m e s m o   d i f e r e n t e 
 S   e   n   t   i   a     q u e   a q u i l o   a l i   n ã o   e r a   o   s e u   l u g a r 
 E   l   e      q u e r i a   s a i r   p a r a   v e r   o   m a r 
 E       a   s       c   o   i   s   a s   q u e   e l e   v i a   n a   t e l e v i s ã o 
 J   u   n   t   o   u     d i n h e i r o   p a r a   p o d e r   v i a j a r 
 D   e       e   s   c   o   l  h a   p r ó p r i a ,   e s c o l h e u   a   s o l i d ã o 
 C   o   m   i   a     t o d a s   a s   m e n i n i n h a s   d a   c i d a d e 
 D   e       t   a   n   t  o   b r i n c a r   d e   m é d i c o ,   a o s   d o z e   e r a   p r o f e s s o r
A o s   q u i n z e ,   f o i   m a n d a d o   p r o   o   r e f o r m a t ó r i o 
 O   n   d   e   a u m e n t o u   s e u   ó d i o   d i a n t e   d e   t a n t o   t e r r o r 
 N   ã  o   e n t e n d i a   c o m o   a   v i d a   f u n c i o n a v a 
 D   i   s   c   r   i   m  i n a ç ã o   p o r   c a u s a   d a   s u a   c l a s s e   e   s u a   c o r 
 F  i c o u   c a n s a d o   d e   t e n t a r   a c h a r   r e s p o s t a 
 E       c   o   m   p r o u   u m a   p a s s a g e m ,   f o i   d i r e t o   a   S a l v a d o r 
 E      l á   c h e g a n d o   f o i   t o m a r   u m   c a f e z i n h o 
 E       e   n   c   o   n t r o u   u m   b o i a d e i r o   c o m   q u e m   f o i   f a l a r 
 E       o    b o i a d e i r o   t i n h a   u m a   p a s s a g e m   e   i a   p e r d e r   a   v i agem
M a s   J o ã o   f o i   l h e   s a l v a r 
 D   i   z   i   a       e   l   e       "   e   s  t o u   i n d o   p r a   B r a s í l i a 
 N   e   s   t   e       p   a í s   l u g a r   m e l h o r   n ã o   h á 
 '   T   ô       p   r   e   c   i   s a n d o   v i s i t a r   a   m i n h a   f i l h a 
 E   u       f   i   c   o   a q u i   e   v o c ê   v a i   n o   m e u   l u g a r " 
 E       J   o   ã   o    a c e i t o u   s u a   p r o p o s t a 
 E       n   u   m       ô   n   i   b   u  s   e n t r o u   n o   P l a n a l t o   C e n t r a l 
 E   l   e       f  i c o u   b e s t i f i c a d o   c o m   a   c i d a d e 
 S   a   i   n   d   o       d a   r o d o v i á r i a ,   v i u   a s   l u z e s   d e   N a t a l 
 M   e   u    D e u s ,   m a s   q u e   c i d a d e   l i n d a 
 N   o       A   n   o       N   o   v o   e u   c o m e ç o   a   t r a b a l h a r 
 C   o   r   t   a   r       m  a d e i r a ,   a p r e n d i z   d e   c a r p i n t e i r o 
 G   a   n   h   a  v a   c e m   m i l   p o r   m ê s   e m   T a g u a t i n g a 
 N   a       s   e   x  t a - f e i r a   i a   p r a   z o n a   d a   c i d a d e 
 G   a   s   t   a   r     t o d o   o   s e u   d i n h e i r o   d e   r a p a z   t r a b a l h a d o r 
 E    c o n h e c i a   m u i t a   g e n t e   i n t e r e s s a n t e 
 A   t   é       u   m      n e t o   b a s t a r d o   d o   s e u   b i s a v ô 
 U   m       p   e   r   u   a n o   q u e   v i v i a   n a   B o l í v i a 
 E       m   u   i   t   a   s      c o i s a s   t r a z i a   d e   l á 
 S   e   u       n   o   m   e       e   r a   P a b l o   e   e l e   d i z i a 
 Q   u   e       u   m       n   e   g ó c i o   e l e   i a   c o m e ç a r 
 E       o       S   a   n   t   o      C r i s t o   a t é   a   m o r t e   t r a b a l h a v a 
 M   a   s       o    d i n h e i r o   n ã o   d a v a   p r a   e l e   s e   a l i m e n t a r 
 E       o u v i a   à s   s e t e   h o r a s   o   n o t i c i á r i o 
 Q   u   e       s   e   m   p r e   d i z i a   q u e   o   s e u   m i n i s t r o   i a   a j u d a r 
 M   a  s   e l e   n ã o   q u e r i a   m a i s   c o n v e r s a 
 E       d   e   c   i   d   i   u   q u e ,   c o m o   P a b l o ,   e l e   i a   s e   v i r a r 
 E   l   a   b o r o u   m a i s   u m a   v e z   s e u   p l a n o   s a n t o 
 E       s   e   m      s e r   c r u c i f i c a d o ,   a   p l a n t a ç ã o   f o i   c o m e ç a r 
 L   o g o   l o g o   o s   m a l u c o   d a   c i d a d e   s o u b e r a m   d a   n o v i d a d e
" T e m   b a g u l h o   b o m   a i ! " 
 E       J   o   ã   o       d   e       S   a   n   t  o   C r i s t o   f i c o u   r i c o 
 E       a   c   a   b   o   u    c o m   t o d o s   o s   t r a f i c a n t e s   d a l i 
 F   e   z       a   m i g o s ,   f r e q u e n t a v a   a   A s a   N o r t e 
 E       i   a       p   r  a   f e s t a   d e   r o c k ,   p r a   s e   l i b e r t a r 
 M   a   s       d  e   r e p e n t e   S o b   u m a   m á   i n f l u ê n c i a   d o s   b o y z i n h o  da cidade
C o m e ç o u   a   r o u b a r 
 J   á       n   o       p   r   i   m   e   i   r   o       r   o u b o   e l e   d a n ç o u 
 E       p   r   o       i   n   f  e r n o   e l e   f o i   p e l a   p r i m e i r a   v e z 
 V   i   o   l   ê  n c i a   e   e s t u p r o   d o   s e u   c o r p o 
 V   o   c   ê   s       v   ã   o   v e r ,   e u   v o u   p e g a r   v o c ê s 
 A   g   o   r   a       o      S a n t o   C r i s t o   e r a   b a n d i d o 
 D   e   s   t   e   m   i   d   o   e   t e m i d o   n o   D i s t r i t o   F e d e r a l 
 N   ã   o       t   i n h a   n e n h u m   m e d o   d e   p o l í c i a 
 C   a   p   i   t   ã   o       o u   t r a f i c a n t e ,   p l a y b o y   o u   g e n e r a l 
 F   o   i      q u a n d o   c o n h e c e u   u m a   m e n i n a 
 E       d   e       t   o   d   o   s   o s   s e u s   p e c a d o s   e l e   s e   a r r e p e n d e u 
 M   a   r i a   L ú c i a   e r a   u m a   m e n i n a   l i n d a 
 E       o       c   o   r   a   ç ã o   d e l e   p r a   e l a   o   S a n t o   C r i s t o   p r o m e t e u 
 E l e   d i z i a   q u e   q u e r i a   s e   c a s a r 
 E       c   a   r   p   i   n   t   e  i r o   e l e   v o l t o u   a   s e r 
 M   a   r   i   a       L   ú   c   i a   p r a   s e m p r e   v o u   t e   a m a r 
 E       u   m       f   i   l h o   c o m   v o c ê   e u   q u e r o   t e r 
 O       t   e   m   p   o       p a s s a   e   u m   d i a   v e m   n a   p o r t a 
 U   m       s   e   n   h  o r   d e   a l t a   c l a s s e   c o m   d i n h e i r o   n a   m ã o 
 E       e l e   f a z   u m a   p r o p o s t a   i n d e c o r o s a 
 E       d   i   z       q   u  e   e s p e r a   u m a   r e s p o s t a ,   u m a   r e s p o s t a   d o   J o ão
N ã o   b o t o   b o m b a   e m   b a n c a   d e   j o r n a l 
 N   e   m       e   m       c  o l é g i o   d e   c r i a n ç a   i s s o   e u   n ã o   f a ç o   n ã o 
 E     n ã o   p r o t e j o   g e n e r a l   d e   d e z   e s t r e l a s 
 Q   u   e       f   i  c a   a t r á s   d a   m e s a   c o m   o   c u   n a   m ã o 
 E       é       m   e l h o r   s e n h o r   s a i r   d a   m i n h a   c a s a 
 N   u   n   c   a       b r i n q u e   c o m   u m   P e i x e s   d e   a s c e n d e n t e   E s c o r p i ão"
M a s   a n t e s   d e   s a i r ,   c o m   ó d i o   n o   o l h a r ,   o   v e l h o   d i s se
" V o c ê   p e r d e u   s u a   v i d a ,   m e u   i r m ã o " 
 "   V   o   c   ê       p   e  r d e u   a   s u a   v i d a   m e u   i r m ã o 
 V   o   c   ê       p   e   r  d e u   a   s u a   v i d a   m e u   i r m ã o 
 E   s   s   a   s       p   a   l a v r a s   v ã o   e n t r a r   n o   c o r a ç ã o 
 E   u       v   o   u     s o f r e r   a s   c o n s e q u ê n c i a s   c o m o   u m   c ã o " 
 N   ã   o    é   q u e   o   S a n t o   C r i s t o   e s t a v a   c e r t o 
 S   e   u       f   u  t u r o   e r a   i n c e r t o   e   e l e   n ã o   f o i   t r a b a l h a r 
 S   e   e m b e b e d o u   e   n o   m e i o   d a   b e b e d e i r a 
 D   e   s   c   o   b   r  i u   q u e   t i n h a   o u t r o   t r a b a l h a n d o   e m   s e u   l u g a r
F a l o u   c o m   P a b l o   q u e   q u e r i a   u m   p a r c e i r o 
 E       t   a   m   b é m   t i n h a   d i n h e i r o   e   q u e r i a   s e   a r m a r 
 P   a   b   l  o   t r a z i a   o   c o n t r a b a n d o   d a   B o l í v i a 
 E       S   a   n   t  o   C r i s t o   r e v e n d i a   e m   P l a n a l t i n a 
 M   a   s       a   c  o n t e c e   q u e   u m   t a l   d e   J e r e m i a s 
 T   r   a   f   i   c   a  n t e   d e   r e n o m e ,   a p a r e c e u   p o r   l á 
 F   i   c   o   u      s a b e n d o   d o s   p l a n o s   d e   S a n t o   C r i s t o 
 E       d   e   c i d i u   q u e ,   c o m   J o ã o   e l e   i a   a c a b a r 
 M   a   s       P   a  b l o   t r o u x e   u m a   W i n c h e s t e r - 2 2 
 E       S   a   n   t   o     C r i s t o   j á   s a b i a   a t i r a r 
 E       d   e   c   i   d   i   u     u s a r   a   a r m a   s ó   d e p o i s 
 Q   u   e       J   e   r   e   m  i a s   c o m e ç a s s e   a   b r i g a r 
 J   e   r   e   m   i   a   s   ,    m a c o n h e i r o   s e m - v e r g o n h a 
 O   r   g   a   n   i   z   o  u   a   R o c k o n h a   e   f e z   t o d o   m u n d o   d a n ç a r 
 D   e   s v i r g i n a v a   m o c i n h a s   i n o c e n t e s 
 S   e       d   i   z   i   a      q u e   e r a   c r e n t e   m a s   n ã o   s a b i a   r e z a r 
 E       S  a n t o   C r i s t o   h á   m u i t o   n ã o   i a   p r a   c a s a 
 E       a       s  a u d a d e   c o m e ç o u   a   a p e r t a r 
 E   u       v   o   u       m   e      e m b o r a ,   e u   v o u   v e r   M a r i a   L ú c i a 
 J   á       '   t á   e m   t e m p o   d e   a   g e n t e   s e   c a s a r 
 C   h   e   g   a   n   d  o   e m   c a s a   e n t ã o   e l e   c h o r o u 
 E       p   r   o       i   n  f e r n o   e l e   f o i   p e l a   s e g u n d a   v e z 
 C   o   m       M   a r i a   L ú c i a   J e r e m i a s   s e   c a s o u 
 E       u   m       f   i   l  h o   n e l a   e l e   f e z 
 S   a   n   t   o       C   r   i   s   t   o      e r a   s ó   ó d i o   p o r   d e n t r o 
 E       e   n   t   ã   o    o   J e r e m i a s   p r a   u m   d u e l o   e l e   c h a m o u 
 A   m   a   n h ã   à s   d u a s   h o r a s   n a   C e i l â n d i a 
 E   m       f   r   e   n   t  e   a o   L o t e   1 4 ,   é   p r a   l á   q u e   e u   v o u 
 E       v   o  c ê   p o d e   e s c o l h e r   a s   s u a s   a r m a s 
 Q   u   e       e   u       a c a b o   m e s m o   c o m   v o c ê ,   s e u   p o r c o   t r a i d o r 
 E     m a t o   t a m b é m   M a r i a   L ú c i a 
 A   q   u   e   l   a       m   e   n   i   n  a   b o s a l   p r a   q u e m   j u r e i   o   m e u   a m o r 
 E      o   S a n t o   C r i s t o   n ã o   s a b i a   o   q u e   f a z e r 
 Q   u   a   n   d   o   v i u   o   r e p ó r t e r   d a   t e l e v i s ã o 
 Q   u   e       d   e   u     n o t í c i a   d o   d u e l o   n a   T V 
 D   i   z   e   n   d   o       a     h o r a   e   o   l o c a l   e   a   r a z ã o 
 N   o       s   á   b   a   d o   e n t ã o ,   à s   d u a s   h o r a s 
 T   o   d   o       o       p   o   v o   s e m   d e m o r a   f o i   l á   s ó   p a r a   a s s i s t i r 
 U   m   h o m e m   q u e   a t i r a v a   p e l a s   c o s t a s 
 E       a   c   e   r   t   o  u   o   S a n t o   C r i s t o ,   c o m e ç o u   a   s o r r i r 
 S   e   n   t i n d o   o   s a n g u e   n a   g a r g a n t a 
 J   o   ã   o       o   l   h   o   u    p r a s   b a n d e i r i n h a s   e   p r o   p o v o   a   a p l a u d i r
E   o l h o u   p r o   s o r v e t e i r o   e   p r a s   c â m e r a s   e 
 A       g   e   n  t e   d a   T V   q u e   f i l m a v a   t u d o   a l i 
 E       s   e       l   e   m b r o u   d e   q u a n d o   e r a   u m a   c r i a n ç a 
 E       d   e       t u d o   o   q u e   v i v e r a   a t é   a l i 
 E       d   e   c   i   d   i   u     e n t r a r   d e   v e z   n a q u e l a   d a n ç a 
 S   e       a       v  i a - c r u c i s   v i r o u   c i r c o ,   e s t o u   a q u i 
 E       n   i   s  s o   o   s o l   c e g o u   s e u s   o l h o s 
 E       e   n   t   ã   o       M   a r i a   L ú c i a   e l e   r e c o n h e c e u 
 E   l   a       t   r   a   z i a   a   W i n c h e s t e r - 2 2 
 A       a   r   m   a       q   u   e       s e u   p r i m o   P a b l o   l h e   d e u 
 J   e   r   e   m   i   a   s ,   e u   s o u   h o m e m .   c o i s a   q u e   v o c ê   n ã o   é 
 E       n ã o   a t i r o   p e l a s   c o s t a s   n ã o 
 O   l   h   a       p   r   a       c   á   f i l h a   d a   p u t a ,   s e m - v e r g o n h a 
 D   á       u   m  a   o l h a d a   n o   m e u   s a n g u e   e   v e m   s e n t i r   o   t e u   p e rdão
E   S a n t o   C r i s t o   c o m   a   W i n c h e s t e r - 2 2 
 D   e   u       c   i   n   c o   t i r o s   n o   b a n d i d o   t r a i d o r 
 M   a   r   i   a       L   ú c i a   s e   a r r e p e n d e u   d e p o i s 
 E       m   o   r   r   e   u     j u n t o   c o m   J o ã o ,   s e u   p r o t e t o r 
 E       o       p   o  v o   d e c l a r a v a   q u e   J o ã o   d e   S a n t o   C r i s t o 
 E   r   a    s a n t o   p o r q u e   s a b i a   m o r r e r 
 E       a       a   l   t   a       b  u r g u e s i a   d a   c i d a d e 
 N   ã   o       a   c   r   e   d   i   t o u   n a   h i s t ó r i a   q u e   e l e s   v i r a m   n a   T V 
 E     J o ã o   n ã o   c o n s e g u i u   o   q u e   q u e r i a 
 Q   u   a   n   d   o       v  e i o   p r a   B r a s í l i a ,   c o m   o   d i a b o   t e r 
 E   l   e      q u e r i a   e r a   f a l a r   p r o   p r e s i d e n t e 
 P   r   a       a   j   u  d a r   t o d a   e s s a   g e n t e   q u e   s ó   f a z 
     -->       