<mat-card>
  <mat-toolbar color="primary">Detalhes do Curso</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="nameProf" #nameProf />
        <mat-hint align="end">{{ nameProf.value?.length || 0 }} / 100</mat-hint>
        <mat-error *ngIf="form.get('name')?.invalid">{{
          getErrorMessage("name")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="nascimento" #nascimento />
        <mat-hint align="end">{{ nascimento.value?.length || 0 }} / 100</mat-hint>
        <mat-error *ngIf="form.get('nascimento')?.invalid">{{
          getErrorMessage("name")
        }}</mat-error>
      </mat-form-field>


      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="endereco" #endereco />
        <mat-hint align="end">{{ endereco.value?.length || 0 }} / 100</mat-hint>
        <mat-error *ngIf="form.get('endereco')?.invalid">{{
          getErrorMessage("name")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Telefone" formControlName="telefone" #telefone />
        <mat-hint align="end">{{ telefone.value?.length || 0 }} / 100</mat-hint>
        <mat-error *ngIf="form.get('telefone')?.invalid">{{
          getErrorMessage("name")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email" #email />
        <mat-hint align="end">{{ email.value?.length || 0 }} / 100</mat-hint>
        <mat-error *ngIf="form.get('email')?.invalid">{{
          getErrorMessage("name")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input mask="separator.2" thousandSeparator="." matInput  placeholder="Salario"  formControlName="salario" #salario />
        <mat-hint align="end">{{ salario.value?.length || 0 }} / 100</mat-hint>
        <mat-error *ngIf="form.get('email')?.invalid">{{
          getErrorMessage("name")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Selecione o curso</mat-label>
        <mat-select formControlName="idSetor" #setor>
          <mat-option *ngFor="let setor of setores" [value]="setor.idSetor">{{ setor.setorName }}</mat-option>
        </mat-select>
      </mat-form-field>

     
    </form>
  </mat-card-content>

  <mat-card-actions class="actions-center">
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Salvar
    </button>
    <button mat-raised-button (click)="onCancel()" class="btn-space">
      Cancelar
    </button>
  </mat-card-actions>
</mat-card>
