<!-- Dashboard basica com os dados da escola -->

<div>
    <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile>
          <mat-card class="dados">
            <mat-card-header>
              <mat-card-title>
                <h2>Alunos</h2>
              </mat-card-title>
            </mat-card-header>
              <mat-card-content>
                <h2>{{quantidadeAlunos}}</h2>
              </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="dados">
            <mat-card-header>
              <mat-card-title>
                <h2>Total de Cursos</h2>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h2>{{quantidadeCourse}}</h2>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        </mat-grid-list>

       <!-- grafico.component.html -->
<div style="display: block;">
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [chartType]="barChartType">
  </canvas>
</div>

        
</div>